.btn {
  cursor: pointer;
}

[v-cloak] {
  display: none;
}

.form-control.flatpickr {
  background-color: white;
}

.has-success .form-control {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%234dbd74' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  padding-right: 3rem;
  background-repeat: no-repeat;
  background-position: center right 0.52344rem;
  background-size: 1.04688rem 1.04688rem;
}

.has-danger .ql-toolbar.ql-snow {
  border: 1px solid red;
  border-bottom: 1px solid #ccc;
}

.has-success .ql-toolbar.ql-snow {
  border: 1px solid green;
  border-bottom: 1px solid #ccc;
}

.has-danger .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: 1px solid red;
  border-top: 0;
}

.has-success .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: 1px solid green;
  border-top: 0;
}

.notifications {
  margin: 10px;
}

.vue-notification {
  box-shadow: 0 0 12px #999;
}

.loading .card-block {
  position: relative;
  pointer-events: none;
}

.loading .card-block:before {
  content: $loader;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.75);
  z-index: 3;
}

.header-fixed .app-header {
  padding-right: 20px;
}

table th a:not([href]) {
  cursor: pointer;
}

.ql-editor {
  min-height: 200px;
}

.ql-container .ql-editor.ql-blank::before {
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25;
  color: #B2BDC5;
}

.nav .dropdown-menu {
  border-radius: 0;
  margin-top: 13px;
}

.sidebar .nav .nav-item .nav-link [class^="icon-"] {
  color: #b0bec5;
}

.btn i.fa {
  color: white;
}

@media (min-width: 576px) {
  .control-label {
    margin-top: 7px;
  }
}

@media (min-width: 1200px) {
  .container-xl {
    margin-right: auto;
    margin-left: auto;
    width: 1140px;
    max-width: 100%;
  }
}


// fli
body {
  background-color: #F5F8FF;
}

.sidebar {
  background: #485779;
}

.sidebar .nav .nav-item .nav-link.active, .sidebar .nav .nav-item .navbar .active.dropdown-toggle, .navbar .sidebar .nav .nav-item .active.dropdown-toggle {
  background: $primary;
}

.sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
  background: $primary !important;
}

.sidebar .nav .nav-item .nav-link.active i, .sidebar .nav .nav-item .navbar .active.dropdown-toggle i, .navbar .sidebar .nav .nav-item .active.dropdown-toggle i {
  color: white;
}

.breadcrumb {
  display: none;
}

main.main {
  margin-top: 1.5rem;
}

.card-header {
  background-color: white;
  border-bottom: 1px solid rgba(207, 216, 220, 0.35);
  color: $primary;
  font-weight: 600;
  padding: 1.25rem;
}

.btn-primary, .btn-info {
  background-color: $primary;
  border-color: $primary;
  &:hover {
    background-color: darken($primary, 10);
    border-color: darken($primary, 10);
  }
}

.btn-danger {
  background-color: $danger;
  border-color: $danger;
  &:hover {
    background-color: darken($danger, 10);
    border-color: darken($danger, 10);
  }
}

.btn-success {
  background-color: $success;
  border-color: $success;
  &:hover {
    background-color: darken($success, 10);
    border-color: darken($success, 10);
  }
}

.btn-secondary {
  color: #263238;
  background-color: #fff;
  border-color: #ccc;
  &:hover, &:active, &:focus {
    color: #263238 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
  }
}

.table-hover tbody tr:hover {
  background-color: #EDF3FE;
}

.table thead th {
  border: none;
}

.table thead tr {
  border-bottom: 1px solid #F0F2F5;
  border-top: 1px solid #DEE3E7;
}

.table td {
  border-top: 1px solid #F0F2F5;
  vertical-align: middle;
}

table .row.no-gutters .btn-info {
  margin-right: 10px;
  @media (max-width: 1319px) {
    margin-bottom: 10px;
  }
}

.page-item.active .page-link, .pagination-datatables li.active .page-link, .pagination li.active .page-link, .page-item.active .pagination-datatables li a, .pagination-datatables li .page-item.active a, .pagination-datatables li.active a, .page-item.active .pagination li a, .pagination li .page-item.active a, .pagination li.active a {
  background-color: $primary;
  border-color: $primary;
  &:hover {
    color: white;
  }
}

.app-footer {
  background: none;
  border: none;
  color: #C6C9CE;
  a {
    color: #C6C9CE;
  }
}

.v--modal-overlay {
  z-index: 9999 !important;
  background-color: rgba(0, 0, 0, .4) !important;
}

.v--modal-overlay .v--modal-box {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}

.btn-dialog {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.switch-success > .switch-input:checked ~ .switch-label {
  background: $success !important;
  border-color: $success;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .23);
}

.dropdown-header {
  background: $primary;
  color: white;
  border-bottom: none;
}

.dropdown-item {
  border-bottom: 1px solid #F0F2F4;
}

.badge-info {
  background-color: $primary;
}

.badge-success {
  background-color: $success;
}

.badge-danger {
  background-color: $danger;
}

.badge-warning {
  background-color: $warning;
}

.dropdown-item.active, .dropdown-item:active {
  color: #263238;
  text-decoration: none;
  background-color: white;
}

[v-cloak] { display:none; }

.modal--translation .v--modal-box {
  padding: 20px 30px 30px 30px;
}

.modal-title {
  margin-bottom: 20px;
  text-align: center;
}

.modal-submit {
  margin-top: 30px;
  padding: 10px 0;
}

.loading .v--modal-overlay {
  display: none;
}

.btn:hover, .btn:active, .btn:focus, .btn:visited {
  color: white;
}

.avatar-initials {
  background-color: $primary;
  color: white;
  display: inline-block;
  margin: 0 10px;
  letter-spacing: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 100%;
}

.sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-collapse {
  display: flex;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  i.fa-angle-double-right {
    display: none;
  }
  &:hover {
    cursor: pointer;
    background-color: #3f4d6b;
    i.fa {
      cursor: pointer;
    }
  }
}

.sidebar-nav {
  transition: all 0.3s;
}

.sidebar .nav {
  transition: all 0.3s;
  .nav-item {
    transition: none;
    width: 220px;
  }
}

.app-header .navbar-toggler {
  outline: none;
}

.app-header.navbar .navbar-brand {
  padding: 0.5rem 1rem;
  color: #4273fa;
  font-weight: 600;
  display: inline;
  width: auto;
  height: auto;
  margin-right: 1rem;
  background: none !important;
  border: none;
  img {
    max-width: 200px;
    max-height: 35px;
  }
}

.table td:last-of-type {
  min-width: 95px;
  display: flex;
  justify-content: flex-end;
}

.pagination {
  margin-bottom: 28px;
}

.pagination-caption {
  position: relative;
  top: 6px;
  display: inline-block;
  margin-bottom: 30px;
}

.card-block {
  padding-bottom: 0;
}

.dropdown-toggle {
  box-shadow: none !important;
  &:hover {
    cursor: pointer;
  }
}

.no-items-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  i {
    color: #c2cfd6;
    margin-bottom: 30px;
    font-size: 70px;
  }
  h3 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
  p {
    color: #7e8990;
    font-weight: 500;
    text-align: center;
  }
}

.welcome-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  min-height: 200px;
  blockquote {
    font-family: Georgia, serif;
    font-size: 25px;
    font-style: italic;
    max-width: 100%;
    margin: 0.25em 0;
    padding: 0.25em 0 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
  }
  blockquote:before {
    display: block;
    content: "\201C";
    font-size: 89px;
    position: absolute;
    left: -15px;
    top: -20px;
    color: #7a7a7a;
  }
  blockquote cite {
    color: #999999;
    font-size: 18px;
    display: block;
    margin-top: 10px;
  }

  blockquote cite:before {
    content: "\2014 \2009";
  }
}

.dropdown .dropdown-menu {
  display: block;
  transition: all 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  transform: translateY(5px);
}
.open .dropdown-menu {
  display: block;
  opacity: 1;
  pointer-events: all;
  transform: translateY(-5px);
}

.fa-spinner {
  animation: spin 1s linear infinite;
}

.btn:hover .fa-trash-o {
  animation: swing 1s;
  transform-origin: top center;
}

@keyframes spin { 100% { transform:rotate(360deg); } }

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.form-edit, .form-create {
  .card-block:before {
    display: none !important;
  }
}

.btn:focus {
  box-shadow: none;
}

.width-auto {
  width: auto;
}

@media (min-width: 992px) {
  .sidebar-mini {
    .sidebar {
      width: 50px;
      margin-left: 0;
    }
    .sidebar .sidebar-nav {
      width: 50px;
    }
    .sidebar .nav {
      width: 50px;
    }
    .sidebar .nav-title {
      visibility: hidden;
    }
    .sidebar .nav-link {
      .nav-link-text {
        display: none;
      }
    }
    &.sidebar-fixed .main,
    &.sidebar-fixed .app-footer {
      margin-left: 50px;
    }
    .sidebar-collapse .fa-angle-double-right {
      display: block;
    }
    .sidebar-collapse .fa-angle-double-left {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .sidebar-collapse {
    display: none;
  }
  .app-header .navbar-brand {
    text-align: center;
  }
  .table {
    th, td { display: none;}
    tr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    th:last-of-type,
    td:last-of-type,
    th:nth-of-type(2),
    td:nth-of-type(2) {
      display: flex;
    }
  }
  td:nth-of-type(2) {
    overflow: hidden;
  }
  .avatar-initials {
    display: none;
  }
}

@media (max-width: 575px) {
  .pagination-caption {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    top: 0;
  }
  .pagination {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .app-header.navbar .navbar-brand {
    display: none;
  }
  .input-group-btn--search-filter {
    display: none;
  }
}

@media (max-width: 450px) {
  .card-header > .btn.pull-right {
    display: block;
    float: none;
    margin-top: 15px;
  }
  .no-items-found {
    padding: 10px 0;
  }
}