// TODO partialize to multiple smaller files
.btn {
  cursor: pointer;
}

[v-cloak] {
  display: none;
}

.form-control.flatpickr {
  background-color: white;
}

.form-control {
  border: 1px solid $mutedText;
  border-radius: 0;
  padding-right: 2.2rem !important;
  background-repeat: no-repeat;
  background-position: center right 0.52344rem;
  background-size: 1.04688rem 1.04688rem;
  &:focus {
    border: 1px solid $mutedText;
  }
}
.has-success .form-control {
  background-image: url('../coreui/img/correct.png');
}
.has-danger .form-control {
  background-image: url('../coreui/img/error.png');
  border-color: $danger;
}

.has-danger .form-control-feedback {
  color: $danger;
  font-weight: 500;
}

label {
  color: $mutedText;
}

.card small {
  color: $mutedText;
  a {
    color: $primary
  }
}

.card-footer {
  background: white;
  border: none;
  padding: 1.25rem;
  padding-top: 3rem;
}

.notifications {
  margin: 10px;
}

.vue-notification {
  box-shadow: 0 0 12px #999;
}

.loading .card-block {
  position: relative;
  pointer-events: none;
}

.loading .card-block:before {
  content: $loader;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.75);
  z-index: 3;
}

.header-fixed .app-header {
  padding-right: 20px;
}

table th a:not([href]) {
  cursor: pointer;
}

// wysiwyg
.ql-editor {
  min-height: 200px;
  padding-right: 2.2rem !important;
  color: #3e515b;
  &:after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 8px;
    top: 10px;
    background-position: center;
  }
}

.ql-container .ql-editor.ql-blank::before {
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25;
  color: #B2BDC5;
}

.quill-editor .ql-container.ql-snow {
  border: 1px solid $mutedText;
}
.has-danger .quill-editor .ql-container.ql-snow {
  border: 1px solid $danger;
}

.quill-editor .ql-toolbar.ql-snow {
  border: 1px solid $mutedText;
  border-bottom: 1px solid #E9EDF2;
}
.has-danger .quill-editor .ql-toolbar.ql-snow {
  border: 1px solid $danger;
  border-bottom: 1px solid #E9EDF2;
}

.ql-snow .ql-picker-label {
  color: #C7C7C7;
}
.quill-editor .ql-snow .ql-stroke {
  stroke: #C7C7C7;
}
.quill-editor .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
  fill: #C7C7C7;
}

.has-success .ql-editor:after {
  background-image: url('../coreui/img/correct.png');
}

.has-danger .ql-editor:after {
  background-image: url('../coreui/img/error.png');
}





.nav .dropdown-menu {
  border-radius: 0;
  margin-top: 13px;
}

.sidebar .nav .nav-item .nav-link [class^="icon-"] {
  color: #b0bec5;
}

.btn i.fa {
  color: white;
}

@media (min-width: 576px) {
  .control-label {
    margin-top: 7px;
  }
}

@media (min-width: 1200px) {
  .container-xl {
    margin-right: auto;
    margin-left: auto;
    width: 1140px;
    max-width: 100%;
  }
}


// fli
body {
  background-color: #F5F8FF;
}

.sidebar {
  background: #485779;
}

.sidebar .nav .nav-item .nav-link.active, .sidebar .nav .nav-item .navbar .active.dropdown-toggle, .navbar .sidebar .nav .nav-item .active.dropdown-toggle {
  background: $primary;
}

.sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
  background: $primary !important;
}

.sidebar .nav .nav-item .nav-link.active i, .sidebar .nav .nav-item .navbar .active.dropdown-toggle i, .navbar .sidebar .nav .nav-item .active.dropdown-toggle i {
  color: white;
}

.breadcrumb {
  display: none;
}

main.main {
  margin-top: 1.5rem;
}

.card {
  border: 1px solid #d6dee3;
}

.card-header {
  background-color: white;
  border-bottom: 1px solid rgba(207, 216, 220, 0.35);
  color: $primary;
  font-weight: 600;
  padding: 1.25rem;
}

.btn-primary, .btn-info {
  background-color: $primary;
  border-color: $primary;
  &:hover {
    background-color: darken($primary, 10);
    border-color: darken($primary, 10);
  }
}

.btn-danger {
  background-color: $danger;
  border-color: $danger;
  &:hover {
    background-color: darken($danger, 10);
    border-color: darken($danger, 10);
  }
}

.btn-success {
  background-color: $success;
  border-color: $success;
  &:hover {
    background-color: darken($success, 10);
    border-color: darken($success, 10);
  }
}

.btn-secondary {
  color: #263238;
  background-color: #fff;
  border-color: #ccc;
  &:hover, &:active, &:focus {
    color: #263238 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
  }
}

.table-hover tbody tr:hover {
  background-color: #EDF3FE;
}

.table thead th {
  border: none;
}

.table thead tr {
  border-bottom: 1px solid #F0F2F5;
  border-top: 1px solid #DEE3E7;
}

.table td {
  border-top: 1px solid #F0F2F5;
  vertical-align: middle;
}

table .row.no-gutters .btn-info {
  margin-right: 10px;
  @media (max-width: 1319px) {
    margin-bottom: 10px;
  }
}

.page-item.active .page-link, .pagination-datatables li.active .page-link, .pagination li.active .page-link, .page-item.active .pagination-datatables li a, .pagination-datatables li .page-item.active a, .pagination-datatables li.active a, .page-item.active .pagination li a, .pagination li .page-item.active a, .pagination li.active a {
  background-color: $primary;
  border-color: $primary;
  &:hover {
    color: white;
  }
}

.app-footer {
  background: none;
  border: none;
  color: #C6C9CE;
  a {
    color: #C6C9CE;
  }
}

.v--modal-overlay {
  z-index: 9999 !important;
  background-color: rgba(0, 0, 0, .4) !important;
}

.v--modal-overlay .v--modal-box {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}

.btn-dialog {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.switch-success > .switch-input:checked ~ .switch-label {
  background: $success !important;
  border-color: $success;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .23);
}

.dropdown-header {
  background: $primary;
  color: white;
  border-bottom: none;
}

.dropdown-item {
  border-bottom: 1px solid #F0F2F4;
}

.badge-info {
  background-color: $primary;
}

.badge-success {
  background-color: $success;
}

.badge-danger {
  background-color: $danger;
}

.badge-warning {
  background-color: $warning;
}

.dropdown-item.active, .dropdown-item:active {
  color: #263238;
  text-decoration: none;
  background-color: white;
}

[v-cloak] { display:none; }

.modal--translation .v--modal-box {
  padding: 20px 30px 30px 30px;
}

.modal-title {
  margin-bottom: 20px;
  text-align: center;
}

.modal-submit {
  margin-top: 30px;
  padding: 10px 0;
}

.loading .v--modal-overlay {
  display: none;
}

.btn:hover, .btn:active, .btn:focus, .btn:visited {
  color: white;
}

.avatar-initials {
  background-color: $primary;
  color: white;
  display: inline-block;
  margin: 0 10px;
  letter-spacing: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 100%;
}

.sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-collapse {
  display: flex;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  i.fa-angle-double-right {
    display: none;
  }
  &:hover {
    cursor: pointer;
    background-color: #3f4d6b;
    i.fa {
      cursor: pointer;
    }
  }
}

.sidebar-nav {
  transition: all 0.3s;
}

.sidebar .nav {
  transition: all 0.3s;
  .nav-item {
    transition: none;
    width: 220px;
  }
}

.app-header .navbar-toggler {
  outline: none;
}

.app-header.navbar .navbar-brand {
  padding: 0.5rem 1rem;
  color: #4273fa;
  font-weight: 600;
  display: inline;
  width: auto;
  height: auto;
  margin-right: 1rem;
  background: none !important;
  border: none;
  img {
    max-width: 200px;
    max-height: 35px;
  }
}

.table td:last-of-type {
  min-width: 95px;
  display: flex;
  justify-content: flex-end;
}

.pagination {
  margin-bottom: 28px;
}

.pagination-caption {
  position: relative;
  top: 6px;
  display: inline-block;
  margin-bottom: 30px;
}

.card-block {
  padding-bottom: 0;
}

.dropdown-toggle {
  box-shadow: none !important;
  &:hover {
    cursor: pointer;
  }
}

.no-items-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  i {
    color: rgba(0,0,0,0.2);
    margin-bottom: 30px;
    font-size: 70px;
  }
  h3 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
  p {
    color: #7e8990;
    font-weight: 500;
    text-align: center;
  }
}

.welcome-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  min-height: 200px;
  blockquote {
    font-family: Georgia, serif;
    font-size: 25px;
    font-style: italic;
    max-width: 100%;
    margin: 0.25em 0;
    padding: 0.25em 0 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
  }
  blockquote:before {
    display: block;
    content: "\201C";
    font-size: 89px;
    position: absolute;
    left: -15px;
    top: -20px;
    color: #7a7a7a;
  }
  blockquote cite {
    color: #999999;
    font-size: 18px;
    display: block;
    margin-top: 10px;
  }

  blockquote cite:before {
    content: "\2014 \2009";
  }
}

.dropdown .dropdown-menu {
  display: block;
  transition: all 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  transform: translateY(5px);
}
.open .dropdown-menu {
  display: block;
  opacity: 1;
  pointer-events: all;
  transform: translateY(-5px);
}

.fa-spinner {
  animation: spin 1s linear infinite;
}

.btn:hover .fa-trash-o {
  animation: swing 1s;
  transform-origin: top center;
}

@keyframes spin { 100% { transform:rotate(360deg); } }

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.form-edit, .form-create {
  .card-block:before {
    display: none !important;
  }
}

.btn:focus {
  box-shadow: none;
}

.width-auto {
  width: auto;
}

.hidden-xs-up {
  display: none;
}

.app-header.navbar {
  border-bottom: 1px solid #D6DEE3;
}

small select {
  margin: 0 10px;
}

@media (min-width: 992px) {
  .sidebar-mini {
    .sidebar {
      width: 50px;
      margin-left: 0;
    }
    .sidebar .sidebar-nav {
      width: 50px;
    }
    .sidebar .nav {
      width: 50px;
    }
    .sidebar .nav-title {
      visibility: hidden;
    }
    .sidebar .nav-link {
      .nav-link-text {
        display: none;
      }
    }
    &.sidebar-fixed .main,
    &.sidebar-fixed .app-footer {
      margin-left: 50px;
    }
    .sidebar-collapse .fa-angle-double-right {
      display: block;
    }
    .sidebar-collapse .fa-angle-double-left {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .sidebar-collapse {
    display: none;
  }
  .app-header .navbar-brand {
    text-align: center;
  }
  .table {
    th, td { display: none;}
    tr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    th:last-of-type,
    td:last-of-type,
    th:nth-of-type(2),
    td:nth-of-type(2) {
      display: flex;
    }
  }
  td:nth-of-type(2) {
    overflow: hidden;
  }
  .avatar-initials {
    display: none;
  }
}

@media (max-width: 575px) {
  .pagination-caption {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    top: 0;
  }
  .pagination {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .app-header.navbar .navbar-brand {
    display: none;
  }
  .input-group-btn--search-filter {
    display: none;
  }
}

@media (max-width: 450px) {
  .card-header > .btn.pull-right {
    display: block;
    float: none;
    margin-top: 15px;
  }
  .no-items-found {
    padding: 10px 0;
  }
}


.form-check-label {
  color: #3e515b;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #C3CEDE;
  //background: #EAF2FF;
  background: white;
  border-radius: 4px;
  box-shadow: none;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #4273FA;
  top: 5px;
  left: 5px;
  border-radius: 3px;
  color: #4273FA;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  //border: 1px solid $primary;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid $primary!important;
}

.localization-error {
  background-image: url('../coreui/img/error-triangle.png');
  position: relative;
  top: 6px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}


.input-group--custom {
  .input-group-addon {
    background-color: white;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    i.fa {
      color: #c7c7c7;
    }
  }
  .form-control {
    border-left: none;
    padding-left: 0;
  }
}
.has-danger .input-group--custom {
  .input-group-addon {
    border-color: $danger;
  }
}
.input-icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 25px;
}
.input-icon--mail {
  width: 20px;
  background-image: url('../coreui/img/envelope.png');
}
.input-icon--lock {
  margin: 0 3px;
  background-image: url('../coreui/img/lock.png');
}

// login
.auth {
  min-height: 100vh;
  .auth-header {
    border-bottom: 1px solid #F2F5F9;
    padding: 30px;
  }
  .auth-body {
    padding: 30px;
  }
  .auth-title {
    text-transform: uppercase;
    color: #333D5D;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .auth-subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #B9BBC6;
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 0;
  }
  .card-body, .card-block {
    padding: 0;
  }
  .form-group {
    margin-bottom: 1.7rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  label {
    color: #9FA6B9;
    text-transform: uppercase;
    font-weight: bold;
  }
  .form-control {
    border-radius: 4px;
    padding: 0.8rem 0.75rem;
    border-color: $mutedText;
  }
  .input-group .form-control {
    border: 1px solid $mutedText;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
  }
  .has-danger .input-group .form-control {
    border-color: $danger;
  }
  .input-group-addon {
    border-color: $mutedText;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .form-control-danger {
    border: 1px solid $danger;
  }
  .form-control-feedback {
    color: $danger;
    font-weight: 500;
  }
  .btn-block {
    padding: 1rem;
    font-size: 16px;
  }
  .auth-ghost-link {
    color: #9FA6B9;
  }
  .alert {
    margin-bottom: 1.4rem;
  }
}

.vue-dropzone {
  border: 1px solid $mutedText !important;
}

.vue-dropzone i {
  color: #c7c7c7 !important;
  font-size: 30px !important;
  margin-bottom: 10px;
}

.dropzone .dz-message {
  color: $mutedText !important;
}

.card-block .card-header {
  border-bottom: 0;
}

.form-control::placeholder {
  color: $mutedText;
}

.alert ul {
  margin-bottom: 0;
}

.alert-danger {
  color: $danger;
}

.multiselect__tag-icon:after {
  color: white !important;
}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
  background: darken($success, 10) !important;
}
.multiselect__tag {
  background: $success !important;
}
.multiselect__tag-icon {
  background: $success;
}
.multiselect__tags {
  border-radius: 0 !important;
  border-color: $mutedText !important;
}
.multiselect__option--highlight {
  background: $success !important;
  &:after {
    background: $success !important;
  }
}

.multiselect__input::placeholder {
  color: $mutedText;
}
.multiselect__option--selected.multiselect__option--highlight {
  background: $danger !important;
  &:after {
    background: $danger !important;
  }
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: $primary !important;
  border-color: $primary !important;
}
