.btn {
    cursor: pointer;
    &-primary,
    &-info {
        background-color: $primary;
        border-color: $primary;
        &:hover {
            background-color: darken($primary, 10);
            border-color: darken($primary, 10);
        }
    }
    &-danger {
        background-color: $danger;
        border-color: $danger;
        &:hover {
            background-color: darken($danger, 10);
            border-color: darken($danger, 10);
        }
    }
    &-success {
        background-color: $success;
        border-color: $success;
        &:hover {
            background-color: darken($success, 10);
            border-color: darken($success, 10);
        }
    }
    &-secondary {
        color: #263238;
        background-color: #fff;
        border-color: #ccc;
        &:hover,
        &:active,
        &:focus {
            color: #263238 !important;
            background-color: #fff !important;
            border-color: #ccc !important;
        }
    }
    &-dialog {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: white;
        box-shadow: none;
    }
    &:hover {
        .fa-trash-o {
            animation: swing 1s;
            transform-origin: top center;
        }
    }
    i.fa {
        color: white;
    }
}