.form-control.flatpickr {
  background-color: white;
}

.form-control {
  border: 1px solid $mutedText;
  border-radius: 0;
  padding-right: 2.2rem !important;
  background-repeat: no-repeat;
  background-position: center right 0.52344rem;
  background-size: 1.04688rem 1.04688rem;
  &:focus {
    border: 1px solid $mutedText;
  }
}

.has-success .form-control {
  background-image: url('../coreui/img/correct.png');
}

.has-danger .form-control {
  background-image: url('../coreui/img/error.png');
  border-color: $danger;
}

.has-danger .form-control-feedback {
  color: $danger;
  font-weight: 500;
}

label {
  color: $mutedText;
}

.form-check-label {
  color: #3e515b;
}

.input-group--custom {
  .input-group-addon {
    background-color: white;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    i.fa {
      color: #c7c7c7;
    }
  }
  .form-control {
    border-left: none;
    padding-left: 0;
  }
}

.has-danger .input-group--custom {
  .input-group-addon {
    border-color: $danger;
  }
}

.input-icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 25px;
}

.input-icon--mail {
  width: 20px;
  background-image: url('../coreui/img/envelope.png');
}

.input-icon--lock {
  margin: 0 3px;
  background-image: url('../coreui/img/lock.png');
}

.form-control::placeholder {
  color: $mutedText;
}

.form-check-label {
  margin-bottom: 0.5rem;
}

.form-group.align-items-center.has-danger {
  align-items: flex-start !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: $primary !important;
  border-color: $primary !important;
}

small select {
  margin: 0 10px;
}

.vue-dropzone.dropzone {
  border: 1px solid $mutedText !important;
  
  i {
    color: #c7c7c7 !important;
    font-size: 40px !important;
    margin-bottom: 10px;
  }

  .dz-message {
    color: $mutedText !important;
  }
  
  //fixes https://github.com/rowanwins/vue-dropzone/issues/127
  .dz-error-message { 
    top: calc(100% + 10px) !important; 
    left: calc(50% - 70px) !important; 
  } 

  .dz-preview {
    .dz-image { 
      width: 200px !important;
      height: 200px !important;

      img {
        width: 100%; 
        height: 100%; 
        -webkit-object-fit: cover; 
        object-fit: cover;
      }

      i {
        width: 100%; 
        height: 100%;
        line-height: 200px; 
        font-size: 70px !important;
        text-align: center;
        margin-bottom: 10px;

        &+p {
          position: absolute;
          bottom: 0px;
          width: 100%;
          text-align: center;
          height: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 12px;
          line-height: 1.2;
          padding: 0 15px;
        }
      }
    }

    .dz-details {
      .dz-filename {
        a {
          cursor: pointer;
          color:white;
        }
      }
    }
    
    //fixes https://github.com/rowanwins/vue-dropzone/issues/127
    .dz-error-mark { 
      text-align: center; 
      top: 25%!important;
    }
  }
}

.language-mobile {
  select {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  span, a {
    display: none;
  }
  &.has-error {
    small {
      color: $danger;
    }
  }
}

@media (max-width: 700px) {
  select,
  textarea,
  input,
  .ql-editor,
  .input-group button {
    font-size: 16px !important;
  }
}


@media (min-width: 576px) {
  .control-label {
    margin-top: 7px;
  }
  .language-mobile {
    select {
      margin: 0;
      margin-left: 10px;
    }
  }
}

@media (max-width: 500px) {
  .input-group-btn--search-filter {
    display: none;
  }
}