.header-fixed .app-header {
    padding-right: 20px;
}

.nav .dropdown-menu {
    border-radius: 0;
    margin-top: 13px;
}

.sidebar .nav .nav-item .nav-link [class^="icon-"] {
    color: #b0bec5;
}

.sidebar {
    background: #485779;
}

.sidebar .nav .nav-item .nav-link.active,
.sidebar .nav .nav-item .navbar .active.dropdown-toggle,
.navbar .sidebar .nav .nav-item .active.dropdown-toggle {
    background: $primary;
}

.sidebar .nav .nav-item .nav-link:hover,
.sidebar .nav .nav-item .navbar .dropdown-toggle:hover,
.navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
    background: $primary !important;
}

.sidebar .nav .nav-item .nav-link.active i,
.sidebar .nav .nav-item .navbar .active.dropdown-toggle i,
.navbar .sidebar .nav .nav-item .active.dropdown-toggle i {
    color: white;
}

.dropdown-menu {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .23);
}

.dropdown-header {
    background: $primary;
    color: white;
    border-bottom: none;
}

.dropdown-item {
    border-bottom: 1px solid #F0F2F4;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #263238;
    text-decoration: none;
    background-color: white;
}

.sidebar .sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-collapse {
    display: flex;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    i.fa-angle-double-right {
        display: none;
    }
    &:hover {
        cursor: pointer;
        background-color: #3f4d6b;
        i.fa {
            cursor: pointer;
        }
    }
}

.sidebar-nav {
    transition: all 0.3s;
}

.sidebar .nav {
    transition: all 0.3s;
    .nav-item {
        transition: none;
        width: 220px;
    }
}

.app-header .navbar-toggler {
    outline: none;
}

.app-header.navbar .navbar-brand {
    padding: 0.5rem 1rem;
    color: #4273fa;
    font-weight: 600;
    display: inline;
    width: auto;
    height: auto;
    margin-right: 1rem;
    background: none !important;
    border: none;
    img {
        max-width: 200px;
        max-height: 30px;
    }
}

.dropdown-toggle {
    box-shadow: none !important;
    &:hover {
        cursor: pointer;
    }
}

.dropdown .dropdown-menu {
    display: block;
    transition: all 300ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    transform: translateY(5px);
}

.open .dropdown-menu {
    display: block;
    opacity: 1;
    pointer-events: all;
    transform: translateY(-5px);
}

.app-header.navbar {
    border-bottom: 1px solid #D6DEE3;
}

@media (min-width: 992px) {
    .sidebar-mini {
        .sidebar {
            width: 50px;
            margin-left: 0;
        }
        .sidebar .sidebar-nav {
            width: 50px;
        }
        .sidebar .nav {
            width: 50px;
        }
        .sidebar .nav-title {
            visibility: hidden;
        }
        .sidebar .nav-link {
            .nav-link-text {
                display: none;
            }
        }
        &.sidebar-fixed .main,
        &.sidebar-fixed .app-footer {
            margin-left: 50px;
        }
        .sidebar-collapse .fa-angle-double-right {
            display: block;
        }
        .sidebar-collapse .fa-angle-double-left {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .sidebar-collapse {
        display: none;
    }
    .app-header .navbar-brand {
        text-align: center;
    }
    .avatar-initials {
        display: none;
    }
}

@media (max-width: 500px) {
    .app-header.navbar .navbar-brand {
        display: none;
    }
}