// Uncategorised styles, will refactor if it gets bigger
.avatar-initials {
    background-color: $primary;
    color: white;
    display: inline-block;
    margin: 0 10px;
    letter-spacing: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 100%;
}

.no-items-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    &>i {
        color: rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        font-size: 70px;
    }
    h3 {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
    }
    p {
        color: #7e8990;
        font-weight: 500;
        text-align: center;
    }
}

.welcome-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    min-height: 200px;
    blockquote {
        font-family: Georgia, serif;
        font-size: 25px;
        font-style: italic;
        max-width: 100%;
        margin: 0.25em 0;
        padding: 0.25em 0 0.35em 40px;
        line-height: 1.45;
        position: relative;
        color: #383838;
    }
    blockquote:before {
        display: block;
        content: "\201C";
        font-size: 89px;
        position: absolute;
        left: -15px;
        top: -20px;
        color: #7a7a7a;
    }
    blockquote cite {
        color: #999999;
        font-size: 18px;
        display: block;
        margin-top: 10px;
    }
    blockquote cite:before {
        content: "\2014 \2009";
    }
}

.localization-error {
    background-image: url('../../coreui/img/error-triangle.png');
    position: relative;
    top: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.fa-spinner {
    animation: spin 1s linear infinite;
}

.has-access i {
    font-size: 20px;
}

@media (max-width: 991px) {
    .avatar-initials {
        display: none;
    }
}

@media (max-width: 450px) {
    .no-items-found {
        padding: 10px 0;
    }
}