.btn {
  cursor: pointer;
}

[v-cloak] {
  display: none;
}

.form-control.flatpickr {
  background-color: white;
}

.has-success .form-control {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%234dbd74' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  padding-right: 3rem;
  background-repeat: no-repeat;
  background-position: center right 0.52344rem;
  background-size: 1.04688rem 1.04688rem;
}

.header-fixed .app-header {
  padding-right: 20px;
}

table th a:not([href]) {
  cursor: pointer;
}

@media (min-width: 576px) {
  .control-label {
    margin-top: 7px;
  }
}

@media (min-width: 1200px) {
  .container-xl {
    margin-right: auto;
    margin-left: auto;
    width: 1140px;
    max-width: 100%;
  }
}
